.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.regular {
  text-align: center;
  margin: 3px;
}

.holiday {
  background-color: red;
  text-align: center;
  margin: 3px;
}

.selected {
  background-color: blue;
  text-align: center;
  margin: 3px;
}

.input {
  width: 100%;
}